@using (Html.BeginForm("Review", "Leaves", FormMethod.Get, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
  
   


    <div class="alert alert-secondary">
        <div class="form-inline">
            審查狀態:
            <select class="form-control" id="ReviewID" name="ReviewID">
                <option value="0">全部</option>
                <option value="1">同意</option>
                <option value="2">拒絕</option>
                <option value="3">處理中</option>
            </select>
            &nbsp;&nbsp;
            <select id="year" name="year" class="color1 form-control inline" style="width:150px;"></select>
            &nbsp;&nbsp;
            <input type="submit" value="搜尋" name="test" class="btn btn-default" id="submit" />
        </div>
     
    </div>

    <script>
        var Today = new Date();
        var toyear = Today.getYear() + 1900;

        for (i = toyear; i>=2015; i--) {   //新增年
            var opt = window.document.createElement("option");  //<option >
            //opt.setAttribute("value", i);  //<option value=1,2...>
            //var optTxt = document.createTextNode(i);  //1,2,3.....
            //opt.appendChild(optTxt);  //<option value=1>1</option>
            opt.value = i;
            opt.innerHTML = i;
            document.getElementById('year').appendChild(opt);


        }
        $("#year").val('toyear');
        $('#year').val(toyear);
    </script>


}

